<div class="margem">
  <div *ngIf="!arquivo">
    O arquivo indicado não foi encontrado.
  </div>
  <div *ngIf="arquivo">
    <h1>{{arquivo.descricao}}</h1>
    <button (click)="visualizar(arquivo.id)" type="button" class="btn btn-raised btn-success">Baixar</button>
    <div class="item">
    <span *ngFor="let key of arquivo.keys" class="badge badge-primary" style="margin: 2px;">
      {{key}}
    </span>
    </div>
    <div class="item">
      <strong>Carregado em:</strong><br/> 
      {{arquivo.data_postado}}
    </div>
    <div class="item">
      <strong>Usuário que carregou o arquivo:</strong><br/>
      {{arquivo.usuario_postou}} 
    </div>
    <div class="item">
      <strong>Visualizações:</strong><br/>
      <table class="table">
        <tbody>
          <tr *ngFor="let visualizador of arquivo.visualizadores">
            <td>{{visualizador.nome}}</td>
            <td>{{visualizador.data}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

