<app-error [error]="error" [error_message]="'Verifique se o usuário/senha informados estão corretos.'" [titulo]="'Credenciais inválidas'"></app-error>
<div class="login">
  <div class="text-center">
    <img src="assets/logo_.png">
  </div>
  <div>
    <hr>
    <form (ngSubmit)="onLogin()" novalidate>
    <input type="hidden" id="empresa" [(ngModel)]="user.empresa" name="empresa" required>
     <div class="form-group">
       <label for="email">Email</label>
       <input type="text" class="form-control" id="email" placeholder="enter email" [(ngModel)]="user.email" name="email" required>
     </div>
     <div class="form-group">
       <label for="password">Password</label>
       <input type="password" class="form-control" id="password" placeholder="enter password" [(ngModel)]="user.password" name="password" required>
     </div>
     <button type="submit" class="btn btn-raised btn-success">Login</button>
    </form>
  </div>
  <hr>
  <div>
    <a routerLink='/register'>Novo usuário?</a>
  </div>
</div>
