<nav *ngIf="!logado" class="navbar navbar-expand-lg navbar-light bg-light">
  <button id="button-sidebar" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sidebar">
    <a class="navbar-brand" href="javascript:;" (click)="toogleMenu()">
      &nbsp;<img routerLink="/" alt="Fox Integrate" src="assets/logo.png" height="36">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Arquivos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="javascript:;" routerLink="upload" (click)="toogleMenu()">Novo</a>
          <a class="dropdown-item" href="javascript:;" routerLink="search" (click)="toogleMenu()">Pesquisar</a>
          <!-- 
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:;" (click)="toogleMenu()">Categoria</a>
          -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Eventos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="javascript:;" routerLink="new">Novo</a>
          <a class="dropdown-item" href="javascript:;" routerLink="list">Pesquisar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:;" routerLink="class">Classificação</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" routerLink="request" (click)="toogleMenu()">Solicitações</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="logout" (click)="toogleMenu()">Sair</button>
    </form>
  </div>
</nav>