<app-error [error]="error" [error_message]="error_message" [titulo]="'Erro na consulta'"></app-error>
<div class="margem">
  <form #form="ngForm">
    <h2>Buscar arquivos</h2>
    <hr>
    <div class="form-group">
      <label for="texto">Pesquisar por</label>
      <input type="text" class="form-control" id="texto" [(ngModel)]="texto" placeholder="informe palavra para pesquisa" name="texto" required>
    </div>
    <div class="form-group">
      <button type="button" [disabled]="form.invalid || loading" class="btn btn-raised btn-success" (click)="buscarArquivos()">Buscar arquivos <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
    </div>
  </form>
</div>
<div class="margem">
  <h3 *ngIf="arquivos.length === 0 && quantidadeBuscas > 0">Não foram encontrados resultados</h3>
  <app-list-file *ngIf="arquivos.length > 0" [arquivos]="arquivos"></app-list-file>
</div>